<div class="movable-box">
  <h1 class="movable-box__heading">Moveable Box Generator</h1>
  <div class="movable-box__btn-container">
    <button (click)="addBox()">+ Add a box</button>
    <button *ngIf="keyboardControl" (click)="toggleKeyboardControl()">Switch Off Keyboard Control</button>
    <button *ngIf="!keyboardControl" (click)="toggleKeyboardControl()">Switch On Keyboard Control</button>
  </div>
  <p *ngIf="!keyboardControl">Keyboard Controls are Off</p>
  <div class="box" [ngClass]="!keyboardControl ? 'inactive-box' : ''">
    <div #sprites class="sprite" [ngClass]="activeBox == box.id ? 'active-sprite' : ''" *ngFor="let box of boxes" style="left: 0; top: 0; position: absolute" (click)="activateBox(box.id)" id="{{ box.id }}">{{ box.zIndex }}</div>
  </div>
</div>
